.text-center {
  text-align: center;
}
.image {
  text-align: right;
  width: 160px;

  margin-right: 200px;
  text-align: initial;
  float: right;
}
.header {
  font-size: 50px;
  background-color: rgb(45, 45, 128);
  color:white;
  padding-top: 15px;
  padding-bottom: 5px;
}
.inline {
  display: inline-block;
}
.body-text {
margin-right: -150px;
  width: 350px;
text-align: initial;
}
.break-bar {
  background-color: lightblue;
  margin-left: 215px;
  margin-right: 215px;
}
.bottom {
  background-color: rgb(45, 45, 128);
}
.image-text {
  text-align: center;
  background-color: blue;
  padding: 30px;
  color: white;
  margin-bottom: -15px;
}
.designers {
  margin-left: 200px;
}
.article-text {
  margin-left: 5px;
}
.article-descript {
  margin-top: -20px;
  font-size: 10px;
}