.text-center {
  text-align: center;
}
.image {
  width: 160px;
  text-align: initial;
  float: right;
  margin-top: 90px;
margin-right: 600px;
margin-left: -600px;
}
.header {
  font-size: 50px;
  background-color: rgb(45, 45, 128);
  color:white;
  padding-top: 15px;
  padding-bottom: 5px;
}
.inline {
  display: inline-block;
}
.body-text {
  width: 350px;
text-align: initial;
}
.break-bar {
  background-color: lightblue;
  width: 450px;
  display: inline-block;
  position: relative;
 
}
.bottom {
  background-color: rgb(45, 45, 128);
}
.image-text {
  text-align: center;
  background-color: blue;
  padding: 30px;
  color: white;
  margin-bottom: -15px;
}
.article-descript {
  margin-top: -20px;
  font-size: 10px;
}